@model List<Nhom_10_QuanLyShopGiayTheThaoSneaker.Models.Loai>
<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color:snow;">
        <a href="#" style="text-transform:uppercase; text-decoration: none; color: dimgrey; color:black; font-weight:bold;">SNEAKER</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="#" style="text-transform:uppercase; text-decoration: none; color: dimgrey;">
                <a href="~/SanPham/GiayTheoLoai?maLoai=@item.MaLoai"> @item.TenLoai </a>
            </a>
        </li>
    }
</ul>




